In [6]:
def greeting(name):
    print(f"good morning {name}")

In [7]:
greeting('Sahil')

good morning Sahil

In [8]:
greeting(input())

 Sahil

good morning Sahil

In [9]:
def sum(a,b):
    return a+b

In [10]:
sum(6,8)

14

In [11]:
def calc(a,b,c=0):
    return a+b+c

In [12]:
calc(2,3,4)

9

In [13]:
calc(2,3)

5

In [19]:
def calc1(a,b,c):
    d=a+b+c
    #d=d/3
    return d/3

In [20]:
calc1(2,3,4)

3.0

In [21]:
a=calc1(2,3,4)

In [22]:
print(a)

3.0

In [24]:
b=greeting('raja')

good morning raja

In [25]:
print(b)

None

In [27]:
def greet(name):
    return f"hello {name} good morning"

In [28]:
b=greet('Sahil')

In [29]:
print(b)

hello Sahil good morning

In [30]:
def findsq(a):
    return a*a

In [31]:
findsq(12)

144

In [41]:
def table():
    num=int(input())
    for i in range(2,11):
        print(f"{num} X {i} = {num*i}")

In [42]:
table()

 5

5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [53]:
list22=[]
for i in range(1,10):
    res=input()
    list22.append(res)

 123
 yy
 y77
 8
 76
 h9\
 8u
 8u
 0i

In [54]:
list22

['123', 'yy', 'y77', '8', '76', 'h9\\', '8u', '8u', '0i']

In [55]:
def table():
    num=int(input())
    result=[]
    for i in range(2,11):
       result.append(f"{num} X {i} = {num*i}")
    return result

In [56]:
ab=table()

 6

In [57]:
print(ab)

['6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '6 X 10 = 60']

In [58]:
for i in ab:
    print(i)

6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [61]:
def multiple(a,b):
    return a+b,a*b

In [62]:
az=multiple(2,3)

In [63]:
print(az)

(5, 6)

In [64]:
a,z=multiple(2,3)

In [65]:
print(a,z)

5 6

In [66]:
type(az)

tuple

In [67]:
type(a)

int

In [72]:
def funct(*args):
    ssum=0
    for i in args:
        ssum+=i
    return ssum

In [73]:
funct(1,2,3,4,5,5,6,7,8)  #*args means n number of input into the function

41

In [76]:
def func(*args):
    ssum=0
    lent=0
    for i in args:
        ssum+=i
    lent=len(args)
    print(lent,ssum)
    return ssum/lent

In [77]:
func(1,2,3,4,5,6,7,8,9)

9 45

5.0

In [161]:
def add(a,b):
    print( a+b)

In [162]:
def subt(a,b):
    print( a-b)

In [163]:
def mul(a,b):
    print( a*b)

In [164]:
ops=['+','-','*']

In [192]:
def cacl():
    print("Calculator")
    print(f"+ for addition")
    print(f"- for subtraction")
    print(f"* for multiply")
    num1=int(input("Enter first number"))
    num2=int(input("Enter second number"))
    choice=input("enter your op +,-,*")
    if choice=='+':
      add(num1,num2)
    elif choice=='-':
      subt(num1,num2)
    elif choice=='*':
      mul(num1,num2)
    else:
     print("Enter a valid op")

In [180]:
passwords=[]
users=[]

In [195]:
username=input("Enter username")
password=input("Enter password")
if len(password)<6:
    print("password is too short")
elif ' ' in password:
   print("no space allowed")
elif not any (i in '!@#$%^&*()_+' for i in password):
     print("password must have special character")
elif not any(char.isupper() for char in password):
    print("One UpperCase is required")
elif not any(char.islower() for char in password):
     print("Onr lowercase is required")
elif not any(char.isdigit() for char in password):
     print("One digit is required")
else:
    print("Pasword is strong")
    passwords.append(password)
    users.append(username)

IndentationError: expected an indented block after function definition on line 1 (1738446064.py, line 2)

In [182]:
passwords

['sharmA123@']

In [183]:
users

['Sharma']

In [194]:
user1=input("Enter username")
if user1 in users:
    idx=users.index(user1)
    password1=input("Enter password")
    if password1==passwords[idx]:
        print("welcome users")
        cacl()
    else:
       print("Invalid password")
else:
   print("Invalid user")

Enter username Sharma
Enter password sharmA123@

welcome users
Calculator
+ for addition
- for subtraction
* for multiply

Enter first number 5
Enter second number 4
enter your op +,-,* +

9

In [ ]:
def final():
    operations=input("enter choice")
    if operations=='password':
        check()
    elif operations=='cacl':
        cacl()
    else:
        print("wrong choice")